<fieldset>
    <legend>Add UNO-Card Record</legend>
    <p>
      <label for='card'>UNO-Card</label><br>
      <select id='card' name='card' value=''/>
        <option value="Red 1">Red 1</option>
        <option value="Red 2">Red 2</option>
        <option value="Red 3">Red 3</option>
        <option value="Red 4">Red 4</option>
        <option value="Red 5">Red 5</option>
        <option value="Red 6">Red 6</option>
        <option value="Red 7">Red 7</option>
        <option value="Red 8">Red 8</option>
        <option value="Red 9">Red 9</option>
        <option value="Red 0">Red 0</option>
        <option value="Red Skip">Red Skip</option>
        <option value="Red Reverse">Red Reverse</option>
        <option value="Red Draw 2">Red Draw 2</option>
        <option value="Yellow 1">Yellow 1</option>
        <option value="Yellow 2">Yellow 2</option>
        <option value="Yellow 3">Yellow 3</option>
        <option value="Yellow 4">Yellow 4</option>
        <option value="Yellow 5">Yellow 5</option>
        <option value="Yellow 6">Yellow 6</option>
        <option value="Yellow 7">Yellow 7</option>
        <option value="Yellow 8">Yellow 8</option>
        <option value="Yellow 9">Yellow 9</option>
        <option value="Yellow 0">Yellow 0</option>
        <option value="Yellow Skip">Yellow Skip</option>
        <option value="Yellow Reverse">Yellow Reverse</option>
        <option value="Yellow Draw 2">Yellow Draw 2</option>
        <option value="Green 1">Green 1</option>
        <option value="Green 2">Green 2</option>
        <option value="Green 3">Green 3</option>
        <option value="Green 4">Green 4</option>
        <option value="Green 5">Green 5</option>
        <option value="Green 6">Green 6</option>
        <option value="Green 7">Green 7</option>
        <option value="Green 8">Green 8</option>
        <option value="Green 9">Green 9</option>
        <option value="Green 0">Green 0</option>
        <option value="Green Skip">Green Skip</option>
        <option value="Green Reverse">Green Reverse</option>
        <option value="Green Draw 2">Green Draw 2</option>
        <option value="Blue 1">Blue 1</option>
        <option value="Blue 2">Blue 2</option>
        <option value="Blue 3">Blue 3</option>
        <option value="Blue 4">Blue 4</option>
        <option value="Blue 5">Blue 5</option>
        <option value="Blue 6">Blue 6</option>
        <option value="Blue 7">Blue 7</option>
        <option value="Blue 8">Blue 8</option>
        <option value="Blue 9">Blue 9</option>
        <option value="Blue 0">Blue 0</option>
        <option value="Blue Skip">Blue Skip</option>
        <option value="Blue Reverse">Blue Reverse</option>
        <option value="Blue Draw 2">Blue Draw 2</option>
        <option value="Wild">Wild</option>
        <option value="Wild Draw 4">Wild Draw 4</option>
    </select>
    </p>
</fieldset>
