<fieldset>
    <legend>Add UNO-Card Record</legend>
    <p>
      <label for='card'>UNO-Card</label><br>
      <select id='card' name='card' value=''/>
        <option value="R1">Red 1</option>
        <option value="R2">Red 2</option>
        <option value="R3">Red 3</option>
        <option value="R4">Red 4</option>
        <option value="R5">Red 5</option>
        <option value="R6">Red 6</option>
        <option value="R7">Red 7</option>
        <option value="R8">Red 8</option>
        <option value="R9">Red 9</option>
        <option value="R0">Red 0</option>
        <option value="RS">Red Skip</option>
        <option value="RR">Red Reverse</option>
        <option value="RD">Red Draw 2</option>
        <option value="Y1">Yellow 1</option>
        <option value="Y2">Yellow 2</option>
        <option value="Y3">Yellow 3</option>
        <option value="Y4">Yellow 4</option>
        <option value="Y5">Yellow 5</option>
        <option value="Y6">Yellow 6</option>
        <option value="Y7">Yellow 7</option>
        <option value="Y8">Yellow 8</option>
        <option value="Y9">Yellow 9</option>
        <option value="Y0">Yellow 0</option>
        <option value="YS">Yellow Skip</option>
        <option value="YR">Yellow Reverse</option>
        <option value="YD">Yellow Draw 2</option>
        <option value="G1">Green 1</option>
        <option value="G2">Green 2</option>
        <option value="G3">Green 3</option>
        <option value="G4">Green 4</option>
        <option value="G5">Green 5</option>
        <option value="G6">Green 6</option>
        <option value="G7">Green 7</option>
        <option value="G8">Green 8</option>
        <option value="G9">Green 9</option>
        <option value="G0">Green 0</option>
        <option value="GS">Green Skip</option>
        <option value="GR">Green Reverse</option>
        <option value="GD">Green Draw 2</option>
        <option value="B1">Blue 1</option>
        <option value="B2">Blue 2</option>
        <option value="B3">Blue 3</option>
        <option value="B4">Blue 4</option>
        <option value="B5">Blue 5</option>
        <option value="B6">Blue 6</option>
        <option value="B7">Blue 7</option>
        <option value="B8">Blue 8</option>
        <option value="B9">Blue 9</option>
        <option value="B0">Blue 0</option>
        <option value="BS">Blue Skip</option>
        <option value="BR">Blue Reverse</option>
        <option value="BD">Blue Draw 2</option>
        <option value="W">Wild</option>
        <option value="W4">Wild Draw 4</option>
    </select>
    </p>
</fieldset>
