<fieldset>
    <legend>Add New Coin Flip Record</legend>
    <p>
      <label for='type'>Type of Coin</label><br>
      <select id='type' name='type' value=''/>
        <option value="Quarter">Quarter</option>
        <option value="Dime">Dime</option>
        <option value="Nickel">Nickel</option>
        <option value="Penny">Penny</option>
      </select>
    </p>
    <p>
      <label for='side'>Side of Coin Flipped</label><br>
      <select id='side' name='side' value=''/>
        <option value="Heads">Heads</option>
        <option value="Tails">Tails</option>
      </select>
    </p>
</fieldset>