<fieldset>
    <legend>Add Dice Roll Record</legend>
    <p>
      <label for='dice_num'>Amount of Dice Rolled</label><br>
      <select id='dice_num' name='dice_num' value=''/>
        <option value="Single">Single-1</option>
        <option value="Double">Double-2</option>
        <option value="Triple">Triple-3</option>
      </select>
    </p>
    <p>
      <label for='output_num'>Number Rolled from Dice</label><br>
      <select id='output_num' name='output_num' value=''/>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
      </select>
    </p>
</fieldset>