<nav class='navbar navbar-default'>
    <a class='navbar-brand' href='/'>Chance Games Website</a>
    <div class="d-flex flex-row">
        <div class="d-flex flex-row mx-4 d-flex align-items-center">
            <a href="/card" class="btn btn-default navbar-btn bg-danger text-light">Card Draw</a>
        </div>
        <div class="d-flex flex-row mx-4 d-flex align-items-center">
            <a class="btn btn-default navbar-btn bg-warning text-light" href="/coin">Coin Flip</a>
        </div>
        <div class="d-flex flex-row mx-4 d-flex align-items-center">
            <a href="/dice" class="btn btn-default navbar-btn bg-light text-dark">Dice Roll</a>
        </div>
        <div class="d-flex flex-row mx-4 d-flex align-items-center">
            <a class="btn btn-default navbar-btn bg-info text-light" href="/rps">Rock-Paper-Scissors</a>
        </div>
    </div>
</nav>