{% extends 'base.html' %} {% block content %}
<h1 class="mb-3 text-center">Coin Flips</h1>
<h4 class="d-flex justify-content-center greeting text-center"><a href="https://skinnybeans17.github.io/final-sprint-project/coin-flip.html">Click to Play Game</a></h4>
<a class="btn btn-default navbar-btn bg-warning text-light" href="/coin/new">Record New Record</a>

<div class="row">
  {% for coin in coin_flipped %}
  <div class="row">
    <div class="col-5 mb-5 text-center">
      <h2>{{ coin.type }}</h2>
    </div>
    <div class="col-5 mb-5 text-center">
      <h2>{{ coin.side }}</h2>
    </div>
    <div class="col-2 mb-5 text-center">
      <form method="POST" action="/coin/{{ coin._id }}/delete">
        <button class="btn btn-default navbar-btn bg-warning text-light justify-content-center" type="submit">Delete Record</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}