{% extends 'base.html' %} {% block content %}
<h1 class="mb-3 text-center">Rock-Paper-Scissors Plays</h1>
<h4 class="d-flex justify-content-center greeting text-center"><a href="https://skinnybeans17.github.io/final-sprint-project/rps.html">Click to Play Game</a></h4>
<a class="btn btn-default navbar-btn bg-info text-light justify-content-center" href="/rps/new">Record New Record</a>

<div class="row">
  {% for rps in rps_plays %}
  <div class="row">
    <div class="col-5 mb-5 text-center">
      <h2>{{ rps.input }}</h2>
    </div>
    <div class="col-5 mb-5 text-center">
      <h2>{{ rps.output }}</h2>
    </div>
    <div class="col-2 mb-5 text-center">
      <form method="POST" action="/rps/{{ rps._id }}/delete">
        <button class="btn btn-default navbar-btn bg-info text-light justify-content-center" type="submit">Delete Record</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}